@use "../../global" as *;

.c-relation_post {
  margin: rem(50) 0;
  &__ttl{
    font-size: rem(18);
  }
  &__blk {
    list-style: none;
    margin: 0;
    padding: 0;
    .cat-item {
      border-bottom: 1px solid $gray;
      a {
        padding: rem(10) rem(20);
        font-size: rem(14);
      }
    }
    &__list{
      border-bottom: 1px solid $gray;
      padding-bottom: rem(20);
      &__ttl{
        font-size: rem(16);
        font-weight: bold;
        margin-bottom: rem(10);
      }
      &__time{
        color: $gray;
        font-size: rem(12);
        margin-bottom: rem(10);
      }
      &__txt{
        font-size: rem(14);
        line-height: 1.5;
        margin: 0;
      }
    }
  }
}