@use "../global" as *;
.l-footer {
  width: 100%;
  max-width: 100%;
  padding: rem(60) 0;
  &__copy{
    text-align: center;
    font-size: rem(14);
    margin-top: rem(50);
  }

}

#page-top{
  position: absolute;
  bottom: rem(30);
  right: rem(10);
  background-color: $color-primary;
  border-radius: rem(20);
  a{
    color: $white;
    display: block;
    text-align: center;
    padding: rem(20) rem(10);
    font-size: rem(14);
  }
}