@use "../global" as *;
.l-footer {
  width: 100%;
  max-width: 100%;
  padding: rem(60) 0;
  background-color: #eee;
  border-top: 1px solid #ccc;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__copy {
    text-align: center;
    font-size: rem(12);
    margin-top: rem(50);
  }
  &__logo {
    display: block;
    margin: auto;
    max-width: rem(200);
    width: 100%;
  }
  #l-footer-menu-left {
    line-height: rem(30);
    padding: 0;
    ul {
      list-style: none;
      padding: 0;
      li {
        list-style: none;
        font-size: rem(14);
        a{
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
  #l-footer-menu-center {
    line-height: rem(30);
    padding: 0;
      list-style: none;
      padding: 0;
      li {
        list-style: none;
        font-size: rem(14);
        a{
          text-decoration: none;
          color: $black;
        }
      }
  }
  #l-footer-menu-right {
    line-height: rem(30);
    padding: 0;
    ul {
      list-style: none;
      padding: 0;
      li {
        list-style: none;
        font-size: rem(14);
        a{
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}

#page-top {
  position: fixed;
  bottom: rem(30);
  right: rem(10);
  background-color: $color-primary;
  border-radius: rem(20);
  a {
    color: $white;
    display: block;
    text-align: center;
    padding: rem(20) rem(10);
    font-size: rem(14);
  }
}
