@use "../../global" as *;

.p-page{
    
    &__ttl{
        font-size: rem(22);
        margin-bottom: rem(20);
        padding: 0.9em 0.7em 0.7em 0.7em;
        color: #010101;
        background: #eaf3ff;
        border-bottom: solid 3px $link-color;
    }
    &__content{
        a{
            text-decoration: solid;
            color: $link-color;
        }
    }
}