@use "../../global" as *;

.p-top {
    &__ttl {
        text-align: center;
        font-size: 1rem;
    }
    &__search{
        max-width:rem(600);
        margin: auto;
    }

    &__keyword{
        ul{
            list-style: none;
            li{
                a{
                    color: $link-color;
                    font-size: rem(14);
                }
            }
        }
    }
}