@use 'sass:math';

// インナー幅
$innerWidth: 1100px;

// 余白
$padding-pc: 0px;
$padding-sp: 0px;

// フォント
$font-main: 'Noto Sans JP', sans-serif;
$NotoSerif: 'Noto Serif JP', serif;

// 色指定
$black: #000000;
$white: #ffffff;
$link-color: #0572d8;
$color-primary: #30a0d2;
$btn-color: #079c89;
$ttl-color: #011242;
$gray:#B4B4B4;

// ブレイクポイント
$breakpoints: (
  sm: 450,
  md: 767,
  lg: 950,
  xl: 1440,
);

// メディアクエリ
$mediaquerys: (
  sm: "screen and (max-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (max-width: #{map-get($breakpoints,'xl')}px)",
);

// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}
